numpy==2.2.6
Cython==3.1.2
protobuf==6.31.1
pillow==11.2.1
onnxsim==0.4.36
onnx==1.18.0
onnxsim==0.4.36
onnxoptimizer==0.3.13
onnxruntime==1.22.0
progressbar==2.5
protobuf==6.31.1
rich==14.0.0
pandas==2.3.0
colorama==0.4.6
torch==2.7.1
